.theme-primary {
    background-color: #7D839B;
}

.theme-secondary {
    background-color: #C8CAD1;
}

.theme-tertiary {
    background-color: #72928C;
}

.theme-text-primary {
    color: #302E44;
}

.theme-text-secondary {
    color: #221E3F;
}

.theme-text-tertiary {
    color: #E1D0BD;
}
